/* 전체 페이지와 관련된 스타일 */
.login-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

/* 로그인 폼의 전반적인 스타일 */
.login-form-container {
  width: 100%; /* 반응형을 위해 너비를 100%로 설정 */
  max-width: 400px; /* 최대 너비를 제한 */
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin: 0 auto; /* 가로 방향 중앙 정렬 */
}



/* 제목과 입력 필드 사이의 간격을 조금 더 좁게 조정 */
.login-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

/* 레이블과 인풋 필드 스타일 */
.login-form label {
  display: block;
  margin-bottom: 5px; /* 레이블과 입력 필드 사이의 간격을 좁힘 */
  font-size: 16px;
}

/* 입력 필드의 스타일과 간격 조정 */
.login-form-input {
  width: calc(100% - 20px); 
  padding: 10px;
  margin-bottom: 15px; /* 인풋 필드 사이의 간격을 조정 */
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

/* 버튼의 색상을 원래 디자인에 맞게 조정 */
.login-form-button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff; /* 버튼 색상 조정 */
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form-button:hover {
  background-color: #0056b3; /* 버튼 호버 시 색상 조정 */
}

/* 반응형 디자인 */
@media (max-width: 600px) {
  .login-form-container {
    padding: 20px;
  }

  .login-form h2 {
    font-size: 20px;
  }

  .login-form-input,
  .login-form-button {
    font-size: 14px;
  }
}

.register-form-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px; /* 로그인 버튼과의 간격 */
  background-color: white; /* 버튼 배경색 */
  color: black; /* 버튼 글자색 */
  font-size: 18px;
  border: 1px solid #ddd; /* 경계선 색상 */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-form-button:hover {
  background-color: #f8f8f8; /* 버튼 호버 시 배경색 */
}

/* 회원가입 버튼 스타일 */
.login-form-button.register-form-button {
  background-color: #fff; /* 흰색 배경 */
  color: #000; /* 검은색 텍스트 */
  border: 1px solid #ddd; /* 경계선 */
  margin-top: 15px; /* 로그인 버튼과의 간격 */
}

/* 회원가입 버튼 호버 스타일 */
.login-form-button.register-form-button:hover {
  background-color: #f8f8f8; /* 호버 시 배경 색상 변경 */
}

.login_text {
  text-align: center;
  font-size:x-large;
  padding-bottom: 25px;
  font-weight: bold;
}